absl-py==2.1.0
aioquic==1.2.0
annotated-types==0.7.0
asgiref==3.8.1
astunparse==1.6.3
attrs==23.2.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
blis==0.7.11
Brotli==1.1.0
catalogue==2.0.10
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.19.0
colorama==0.4.6
confection==0.1.5
configparser==7.1.0
crayons==0.4.0
cryptography==43.0.1
cymem==2.0.8

# Modelo de idioma para SpaCy
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d

et-xmlfile==1.1.0
facebook-sdk==3.1.0
facebook_page_scraper==5.0.6
filelock==3.16.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
flatbuffers==24.3.25
